canvas{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    animation: color 500ms infinite;
}
@keyframes color{
    0%{
        box-shadow: 5px 5px 38px red;
    }
    25%{
        box-shadow: 5px 5px 38px blue;
    }
    50%{
        box-shadow: 5px 5px 38px green;
    }
    75%{
        box-shadow: 5px 5px 38px magenta;
    }
    100%{
        box-shadow: 5px 5px 38px yellow;
    }
}